// @import "../../node_modules/reset-css/sass/reset";
// @import "fonts";
// @import "normalize";

//<Иконочные шрифты>================================================================================
// @import "icons";
//</Иконочные шрифты>===============================================================================

//<Подключаем шрифты>================================================================================
//&subset=cyrillic-ext
// @import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap&subset=cyrillic-ext");
//</Подключаем шрифты>===============================================================================

//<Шрифт по умолчанию>================================================================================
$fontFamily: ("-apple-system", Segoe UI, system-ui);
//</Шрифт по умолчанию>===============================================================================

//<Переменные>================================================================================
$minWinth: 320px;
$maxWidth: 1152px; //Ширина полотна
$maxWidthContainer: 1264px;
$md1: calc($maxWidthContainer + 12px);
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$fs-base: 16px;
$fs-xxs: 11px;
$fs-xs: 12px;
$fs-s: 14px;
$fs-m: 18px;
$fs-l: 22px;
$fs-xl: 24px;
$fs-xxl: 26px;
//</Переменные>===============================================================================

//<Переменные цвета>===============================================================================
$color-title: #102938; // отдлеьно для заголовков
$color-text: #102938;
$color-background: #f5f5f5;
$color-border: #e4e9ec;

//</Переменные цвета>===============================================================================

//<Обнуление, обшие параметры>================================================================================
body {
  font-family: $fontFamily;
}
//</Обнуление, обшие параметры>===============================================================================

//<Оболочка>================================================================================
// .wrapper {
//   width: 100%;
//   min-height: 100px;
//   overflow: hidden;
//   display: flex;
//   flex-direction: column;
//   // &._loaded {
//   // }
// }
//</Оболочка>===============================================================================
//<Основная сетка>================================================================================
._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  @media (max-width: $md1) {
    // max-width: 750px;
    // padding: 0px 10px;
    padding: 0px 10px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0px 10px;
  }
}
//</Основная сетка>===============================================================================
