@use "variables" as *;

// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   border: none;
//   box-sizing: border-box;
// }
body {
  font-family: $fontFamily;
}
._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  @media (max-width: $md1) {
    // max-width: 750px;
    // padding: 0px 10px;
    padding: 0px 10px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0px 10px;
  }
}
