@use "variables" as *;

// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   border: none;
//   box-sizing: border-box;
// }
body {
  font-family: $fontFamily;
  position: relative;
  // position: fixed;
  @media (max-width: $md4) {
    // overflow-y: hidden;
  }
  // overflow-x: hidden;
}
._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  @media (max-width: $md1) {
    // max-width: 750px;
    // padding: 0px 10px;
    padding: 0px 10px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0px 10px;
  }
}
picture {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
